/*
*
* ==========================================
*         About us
* ==========================================
*
*/

// AAstrology
h2.AASTROGALAXY {
    text-align: center;
}
.aastrology-about {
    width: max-content;
}
.about-image{
    width: 100%;
    // height: 500px;
    
}
ul.abouts {
    margin-inline-start: 2rem;
}
.services_matter>h4>a {
    color: var(--blue-color);
}
.services_matter>img {
    height: 240px;
}
.service-title {
    text-align: center;
}
