/*
*
* ==========================================
*       home Spin Image Animation
* ==========================================
*
*/
.spin {
  animation-name: spinning;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/*
*
* ==========================================
*       Fade Animation
* ==========================================
*
*/

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
    
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

/*
*
* ==========================================
*           Move Background
* ==========================================
*
*/

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.stars {
  // background:  url(../assets/image/topbackgrd.jpg) repeat;
  background-size: 100%;
  width: 10000px;
  height: 100%;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.5;
  animation: move-background 150s linear infinite;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(0, 84, 117);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
}

.active21 {
  background-color: #be3702;
}


