/*
*
* ==========================================
*        Full services page 
* ==========================================
*
*/

.full_services_page .services_matter h4 {
    font-size: 30px;
    margin: 15px 0 15px;
}
.full_services_page .services_matter p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 26px;
}

.full_services_page .services_matter {
    margin-bottom: 30px;
}
.full_services_page .services_images img {
    border-radius: 10px;
}

