
/*
*
* ==========================================
*       Login
* ==========================================
*
*/

.login_box
{
	padding: 40px 40px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.login_page .login_box
{
	max-width: 900px;
	margin: auto;
}
